<h1>Listing tools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Cmd</th>
      <th>P1</th>
      <th>P1 desc</th>
      <th>P2</th>
      <th>P2 desc</th>
      <th>P3</th>
      <th>P3 desc</th>
      <th>P4</th>
      <th>P4 desc</th>
      <th>O1</th>
      <th>O1 desc</th>
      <th>O2</th>
      <th>O2 desc</th>
      <th>O3</th>
      <th>O3 desc</th>
      <th>O4</th>
      <th>O4 desc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.desc %></td>
        <td><%= tool.cmd %></td>
        <td><%= tool.p1 %></td>
        <td><%= tool.p1_desc %></td>
        <td><%= tool.p2 %></td>
        <td><%= tool.p2_desc %></td>
        <td><%= tool.p3 %></td>
        <td><%= tool.p3_desc %></td>
        <td><%= tool.p4 %></td>
        <td><%= tool.p4_desc %></td>
        <td><%= tool.o1 %></td>
        <td><%= tool.o1_desc %></td>
        <td><%= tool.o2 %></td>
        <td><%= tool.o2_desc %></td>
        <td><%= tool.o3 %></td>
        <td><%= tool.o3_desc %></td>
        <td><%= tool.o4 %></td>
        <td><%= tool.o4_desc %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
