<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tool.desc %>
</p>

<p>
  <strong>Cmd:</strong>
  <%= @tool.cmd %>
</p>

<p>
  <strong>P1:</strong>
  <%= @tool.p1 %>
</p>

<p>
  <strong>P1 desc:</strong>
  <%= @tool.p1_desc %>
</p>

<p>
  <strong>P2:</strong>
  <%= @tool.p2 %>
</p>

<p>
  <strong>P2 desc:</strong>
  <%= @tool.p2_desc %>
</p>

<p>
  <strong>P3:</strong>
  <%= @tool.p3 %>
</p>

<p>
  <strong>P3 desc:</strong>
  <%= @tool.p3_desc %>
</p>

<p>
  <strong>P4:</strong>
  <%= @tool.p4 %>
</p>

<p>
  <strong>P4 desc:</strong>
  <%= @tool.p4_desc %>
</p>

<p>
  <strong>O1:</strong>
  <%= @tool.o1 %>
</p>

<p>
  <strong>O1 desc:</strong>
  <%= @tool.o1_desc %>
</p>

<p>
  <strong>O2:</strong>
  <%= @tool.o2 %>
</p>

<p>
  <strong>O2 desc:</strong>
  <%= @tool.o2_desc %>
</p>

<p>
  <strong>O3:</strong>
  <%= @tool.o3 %>
</p>

<p>
  <strong>O3 desc:</strong>
  <%= @tool.o3_desc %>
</p>

<p>
  <strong>O4:</strong>
  <%= @tool.o4 %>
</p>

<p>
  <strong>O4 desc:</strong>
  <%= @tool.o4_desc %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
