<%= form_for(@configure) do |f| %>
  <% if @configure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configure.errors.count, "error") %> prohibited this configure from being saved:</h2>

      <ul>
      <% @configure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %><br>
    <%= @configure.task_id %> - 
    <%= @configure.task.desc%>
    <%= f.hidden_field :task_id, :value => @configure.task_id %><br>
  </div>
  <% Configure.column_names.grep(/[s|if|of]\d$/).each do |c| %>
  <% if eval("defined? @"+c+"_desc") %>
  <div class="field">
    <%= f.label eval("@"+c+"_desc") %><br>
    <%= f.text_field c %>
  </div>
  <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
