<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @configure.task_id %>
</p>

<% Configure.column_names.grep(/(s|if|of)\d/).each do |c| %>
<% p "@configure."+c+".empty?" %>
<% p eval("@configure."+c+".empty?") if eval("@configure."+c) %>
<% if eval("@configure."+c) and ! eval("@configure."+c+".empty?") %>
<p>
  <strong><%= c %>:</strong>
  <%= eval("@configure."+c) %>
</p>
<% end %>
<% end %>

<%= link_to 'Edit', edit_configure_path(@configure) %> |
<%= link_to 'Back', configures_path %>
<%= link_to 'execute', :controller => :tasks, :action => :execute, :id => @configure.task_id%>
