<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @configure.task_id %>
</p>

<p>
  <strong>S1:</strong>
  <%= @configure.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @configure.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @configure.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @configure.s4 %>
</p>

<p>
  <strong>F1:</strong>
  <%= @configure.f1 %>
</p>

<p>
  <strong>F2:</strong>
  <%= @configure.f2 %>
</p>

<p>
  <strong>F3:</strong>
  <%= @configure.f3 %>
</p>

<p>
  <strong>F4:</strong>
  <%= @configure.f4 %>
</p>

<%= link_to 'Edit', edit_configure_path(@configure) %> |
<%= link_to 'Back', configures_path %>
