<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @task.desc %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @task.tool.name %>
</p>

<p>
  <strong>Configure:</strong>
  <%= @task.configure_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @task.result_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<%= link_to 'Configure', new_configure_path(:task_id => @task.id) %>
