<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Return</th>
      <th>Stdout</th>
      <th>Of1</th>
      <th>Of2</th>
      <th>Of3</th>
      <th>Of4</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.task_id %></td>
        <td><%= result.return %></td>
        <td><%= result.stdout %></td>
        <td><%= result.of1 %></td>
        <td><%= result.of2 %></td>
        <td><%= result.of3 %></td>
        <td><%= result.of4 %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
