<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @result.task_id %>
</p>

<p>
  <strong>Return:</strong>
  <%= @result.return %>
</p>

<p>
  <strong>Stdout:</strong>
  <%= @result.stdout %>
</p>

<p>
  <strong>Of1:</strong>
  <%= @result.of1 %>
</p>

<p>
  <strong>Of2:</strong>
  <%= @result.of2 %>
</p>

<p>
  <strong>Of3:</strong>
  <%= @result.of3 %>
</p>

<p>
  <strong>Of4:</strong>
  <%= @result.of4 %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
<%= link_to 'Back To Task', tasks_path %>
